# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
*.sqlite3

# Jupyter Notebooks
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# VS Code
.vscode/

# Ignore data generator script
generate_data.py
